@media only screen and (min-width: 1200px) {
	.site-header .navbar-nav>li {
		margin-left: 15px;
	}
	.tea-detail .tea-title {
		font-size: 70px;
		line-height: 72px;
	}

}
@media only screen and (max-width: 1199px) {
  .feature-box {
    padding: 25px;
  }
    .service-img {
    margin-top: 40px;
}
  .contact-form {
    max-width: initial;
    width: auto;
}

}

@media only screen and (max-width: 1090px) {
	.site-header .navbar-nav>li {
		margin-left: 5px;
	}
	.tea-detail .tea-title {
		font-size: 45px;
		line-height: 60px;
		letter-spacing: 2px;
	}
	.industries-image {
		width: 110px!important;
	}
	.industries-title h2 {
		font-size: 14px!important;
		letter-spacing: 0;
		line-height: 18px;
	}
}


@media only screen and (max-width: 991px) {
  h2{
    font-size: 24px;
  }
  .pb-7 {
    padding-bottom: 40px;
  }
  .pt-7 {
    padding-top: 40px;
  }

  .btn {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0px;
}
  .site-header {
    padding: 0;
  }
  .site-header .navbar {
    padding: 5px 0 !important;
  }
/*  .navbar-collapse {
    position: absolute;   
    background: #fff8f5;
    left: 0;
    right: 0;
    top: 100%;
    border-bottom: 5px solid#363bac;
  }
*/



.navbar-collapse{
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    width: 80%;
/*    overflow-y: scroll;
    overflow-x: hidden;*/
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
    background: #fff8f5;
     border-bottom: 5px solid#363bac;
     
}
.navbar-collapse.show {
    padding: 0px 0px;
    visibility: visible;
    transform: translateX(0);
    top: 0px;
}
  .site-header .navbar-nav>li {
    position: relative;
    margin-left: 0px;
    display: block;
    width: 100%;
  }

#hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
#hamburger .line {
  fill: none;
  stroke: #000000;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
#hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
#hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
#hamburger.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
#hamburger.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
#hamburger.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/*  .site-header .navbar-nav>li:last-child {
    border: none;
  }*/
  .site-header .navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    color: #000;
  }
.site-header .navbar-nav>li {
    color: #fff;
    border-bottom: 1px solid#e2e2e2;
}
  .site-header .navbar-nav>li .dropdown-icon {
    display: inline-block;
    position: absolute;
    right: 15px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 8px;
    color: #f00;
  }
  .site-header li.menu-btn {
    padding: 20px 25px;
  }
  .site-header li.menu-btn a {
    color: #fff;
    text-align: center;
    margin: 0;
  }
  .site-header .navbar-nav .menu-item-has-children>a:after {
    display: none;
  }
  .site-header li.menu-btn a {
    background: var(--secondary-color);
  }
  .site-header .navbar-nav>li .sub-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    padding: 0;
    width: 100%;
    margin: 0;
    border: none;
    display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .site-header .navbar-nav>li .sub-menu li {
    padding: 0;
    border-bottom: 1px solid rgb(220 230 245 / 25%);
    color: #fff;
  }
  .site-header .navbar-nav>li .sub-menu li:last-child {
    border: none;
  }
.site-header .navbar-nav>li .sub-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    color: #000;
    font-size: 14px;
}
  .site-header .navbar-nav>li .sub-menu li a:hover {
    color: #fff;
  }
  .site-header .navbar-nav>li.current-menu-item>a, .site-header .navbar-nav>li .sub-menu li.current-menu-item>a {
    color: var(--primary-color);
  }
  .site-header ul li .dropdown-icon.active:before {
    content: '\f068';
  }

  .owl-nav button.owl-next {
    right: -5px;
    left: auto;
  }
  .owl-nav button.owl-prev {
    left: -5px;
  }
  .home-slider .owl-nav button {
    right: 15px;
    left: auto;
  }
  .owl-dots {
    margin-top: 10px;
  }
  .testimonial {
    margin: 0 40px;
	padding: 0px 30px;
}
.section-title h2 {
    font-size: 26px;
    margin-bottom: 10px;
}
.client-name {
    padding: 0px 0px;
}
.navbar-toggler {
    top: 30px;
}
.info-inner {
    border-radius: 30px 30px 0px 0px;
    height: auto;
    margin-bottom: 25px;
}
.carrer-form {
    border-radius: 30px 30px 0px 0px;
    height: auto;
}
}


@media only screen and (max-width: 800px) {
	.addon-services {
	  background-position: 90px 250px;
		padding: 30px 5px 20px 5px;
	}.customer-testimonial {
		padding: 10px 10px;
	}
	.btn_whatsapp {
		padding: 10px 10px !important;
	}
	button.btn.enquire_now {
		padding: 10px 10px;
	}
	.tea-detail .tea-title {
		font-size: 29px;
		line-height: 30px;
		letter-spacing: 2px;
	}
	.industries-image {
		width: 90px!important;
	}
}

@media only screen and (max-width: 767px) {
.shop-category-sec {
    margin-bottom: 25px;
}.services-area {
    padding: 30px 0px;
    background-size: cover;
}.footer-links li {
    margin-bottom: 2px;
}

  .site-header .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .site-header .navbar-nav>li .dropdown-icon {
    right: 5px;
  }
.site-header .navbar-nav>li .sub-menu li a {
    padding-left: 10px;
}.site-header .navbar-nav>li .dropdown-icon {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
  .btn {
    padding: 14px 20px 15px 20px!important;
  }
  .home-slider .container {
    padding: 0 15px;
  }
  .home-slider .owl-nav button {
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 42px !important;
    font-size: 24px !important;
  }
  .home-slider .owl-nav button.owl-prev {
    margin-top: -25px;
  }
  .home-slider .owl-nav button.owl-next {
    margin-top: 25px;
  }
  .site-footer h2, .footer-logo {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .copyright-area p {
    max-width: 400px;
    margin: 0 auto;
  }
  .go-top {
    right: 15px;
    bottom: 15px;
  }
  .site-header .navbar {
    padding: 0px 0 !important;
  }
  .owl-nav button {
    width: 40px;
    height: 40px;
    font-size: 24px !important;
    line-height: 42px !important;
  }
  .page-title-banner {
    min-height: 300px;
  }
  .left-align-icon {
    max-width: 300px;
    margin: 0 auto;
  }
  .about-item-section .row>div+div {
    margin-top: 40px;
  }
  .alignright, .alignleft {
    float: none;
    margin: 0;
  }
  .container-bg-box {
    margin-bottom: 60px;
  }
.contact-link-item {
    margin-bottom: 30px;
    padding-left: 85px;
    max-width: initial;
    margin-left: auto;
    margin-right: auto;
}
  .contact-link-item .icon-box {
    width: 50px;
    height: 50px;
    line-height: 54px;
    font-size: 22px;
  }
  .contact-map iframe {
    height: 350px;
  }
  .image-box img{
    width: 100%;
  }
  .about-img {
    margin-top: 30px;
}
div#content_block_1 {
    margin-top: 90px;
}
.pricing-pack{
  margin-bottom: 15px;
}
.contact-link-item .icon-box {
    left: 10px;
    top: 15px;
}
.addon-services {
    background-position: 500px 210px;
}
.ethical {
    margin-bottom: 15px;
}
.breadcrumb-bg {
    padding: 50px 0px!important;
}section.ethical-customer.mt-5 {
    margin-top: 1rem!important;
}.about-partner {
    margin-top: 20px;
}.career-form{
  margin-top: 15px;
}
.career-form label{
  padding-bottom: 5px;
}.customer-testimonial {
    margin-bottom: 15px;
}
.carrer-page-form {
    margin: 50px 0px 0px 0px;
}
.contactus-page-form {
    padding: 20px 10px;
}
}

@media only screen and (max-width: 575px){
.pt-7 {
    padding-top: 30px;
}
.pb-7 {
    padding-bottom: 30px;
}
.shop-category-sec a {
    width: 100%;
}.product-des {
    padding: 5px;
}
.product-des a {
    padding: 6px 6px;;
}
.tp-services {
    padding: 30px 30px 30px 10px;
}.testimonial {
    margin: 0 0px;
    padding: 0px 10px;
}

.about-sec {
    padding: 10px 0px;
    position: relative;
}
section.partner-expert {
    padding: 20px 0px!important;
}.service-img img {
    width: 100%;
}
.site-footer h2, .footer-logo {
    margin-bottom: 0px;
    font-size: 18px;
}
.why-choose-us-img{
    margin-top: 20px;
}

.site-footer h2:after {
    width: 50px;
    height: 4px;
}
h2 {
    font-size: 21px;
}
p{
  font-size: 15px;
}
li{
  font-size: 15px;
}
.page-title-banner h1 {
    font-size: 21px;
    font-weight: 400;
}.page-title-banner {
    min-height: 200px;
}
section.clients-section {
    margin-top: 20px;
}
.single-service-content h3 {
    font-size: 21px;
}
.widget.widget_services_list h3 {
margin-bottom: 0px;
}
.contact-link-item .icon-box {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}
.contact-link-item {
    padding-left:70px;
    padding: 15px 0px 10px 55px;
}
.contact-link-item p, .contact-link-item a {
    font-size: 15px;
}
.btn {
    padding: 10px 15px 10px 15px!important;
}
.item-img.text-end {
    margin-top: 30px;
}.partnerlogo a img {
    width: 80%;
    height: auto;
}
.addon-services{
  margin-bottom: 15px;
}
section.about-section.pt-7.pb-7 {
  padding-bottom: 10px!important;
}

.gradient-bg{
  padding: 20px 0px;
}
.partnerlogo a {
    width: 49%;
}
.addon-services {
    background-position: 160px 270px;
}
footer.site-footer.pt-5.pb-5 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
}.chairman-img {
    width: 100%;
    float: none;
    margin-right:0px;
}
.chairman-img img{
  width: 100%;
}.customer-testimonial {
    height: auto;
    padding-bottom: 15px;
}section.testimonial_sec {
    padding: 25px 0;
}.contact-link-item h4 {
    font-size: 18px;
    margin-bottom: 0;
}.enquiry-img {
    margin-bottom: 25px;
}
.btn_whatsapp {
    padding: 10px 20px !important;
}
button.btn.enquire_now {
    padding: 10px 20px;
}
.single_product_info {
    margin-top: 20px;
}
.single_product_info h4 {
    margin-bottom: 0px;
}
.tea-detail figure {
    display:none;
    width: 0%;
}
.tea-detail figure {
    display:none;
    width: 0%;
}
.tea-detail .info {
    float: none;
    width: 100%;
    padding: 0 0 0;
}
}


@media only screen and (max-width: 425px){
section#partners {
  padding: 10px 0px!important;
  margin-top: 1rem!important;
}